.body{
    min-width: 400px;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px ;
}

.head_right{
    display: flex;
    max-height: 35px;
    flex-wrap: nowrap;
    gap: 30px;
    align-items:flex-end;
    margin-top: 50px;
}

.head_left{
    display: flex;
    gap: 35px;
    align-items: center;
}

.line{
    height: 35px;
    width: 2px;
    background-color: #d5d5d5;
}
.line_hor{
    height: 1px;
    width: 100%;
    background-color: #41f6d6;
}

.head_logo{
    height: 80px;
    width: auto;
}

.unnessesary-buttons{
    gap: 10px;
    display: none;
}

.but{
    gap: 10px;
}

.text h1{
    border-left: solid 2px #41f6d6;
    padding-left: 15px;
}

.txt_n{
    overflow-x: scroll;
}

.txt_n ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0;
    list-style: none;
}

.txt_n ul li{
    min-width: max-content;
    border: solid 2px #41f6d6;
    border-radius: 8px;
    padding: 8px 10px;
    color: #909090;
}

.txt_art{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 10px 0;
}

.txt_art p{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.art{
    font-weight: bold;
    margin: 20px 0;
    font-size: large;
    display: flex;
    gap: 15px;
}

.art_p{
    width: 100%;
    height: auto;
}
